[submodule "data/raw"]
	path = data/raw
	url = https://github.com/gunnarvoet/piston-raw-mooring-data
	datalad-id = 8911b13a-7860-4d69-90ea-31e3d5417ec0
	datalad-url = https://github.com/gunnarvoet/piston-raw-mooring-data
[submodule "data/proc"]
	path = data/proc
	url = https://github.com/gunnarvoet/piston-mooring-data
	datalad-id = b61af7c1-09ea-4225-a503-fe4cb5ef1bdb
